<a href="https://colab.research.google.com/github/mamenaca/curso_python_esp_estadistica/blob/main/unidad5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#PANDAS: Librería fundamental para el trabajo con bases de datos

In [1]:
import pandas

In [2]:
pandas.__version__

'1.3.5'

In [3]:
!pip install pandas==1.4.3

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
ERROR: Could not find a version that satisfies the requirement pandas==1.4.3 (from versions: 0.1, 0.2, 0.3.0, 0.4.0, 0.4.1, 0.4.2, 0.4.3, 0.5.0, 0.6.0, 0.6.1, 0.7.0, 0.7.1, 0.7.2, 0.7.3, 0.8.0, 0.8.1, 0.9.0, 0.9.1, 0.10.0, 0.10.1, 0.11.0, 0.12.0, 0.13.0, 0.13.1, 0.14.0, 0.14.1, 0.15.0, 0.15.1, 0.15.2, 0.16.0, 0.16.1, 0.16.2, 0.17.0, 0.17.1, 0.18.0, 0.18.1, 0.19.0, 0.19.1, 0.19.2, 0.20.0, 0.20.1, 0.20.2, 0.20.3, 0.21.0, 0.21.1, 0.22.0, 0.23.0, 0.23.1, 0.23.2, 0.23.3, 0.23.4, 0.24.0, 0.24.1, 0.24.2, 0.25.0, 0.25.1, 0.25.2, 0.25.3, 1.0.0, 1.0.1, 1.0.2, 1.0.3, 1.0.4, 1.0.5, 1.1.0, 1.1.1, 1.1.2, 1.1.3, 1.1.4, 1.1.5, 1.2.0, 1.2.1, 1.2.2, 1.2.3, 1.2.4, 1.2.5, 1.3.0, 1.3.1, 1.3.2, 1.3.3, 1.3.4, 1.3.5)
ERROR: No matching distribution found for pandas==1.4.3

#Tabla en pandas: dataset (en R dataframe)

In [ ]:
A=["hola",4.3,5,True]

En las tablas de pandas, cada columna puede tener un diferente tipo de dato

#Crear un dataset vacío

In [4]:
datos=pandas.DataFrame()

In [5]:
type(datos)

pandas.core.frame.DataFrame

#Creación de dataset con ingreso manual de datos

In [12]:
datos=pandas.DataFrame({
    "nombres":["Gidardo", "Leopoldo"],
    "edades":[65,54]

})
datos

    nombres  edades
0   Gidardo      65
1  Leopoldo      54

#Indexación

In [14]:
type(datos)

pandas.core.frame.DataFrame

##propia de pandas

In [13]:
datos.nombres #Variable, columna

0     Gidardo
1    Leopoldo
Name: nombres, dtype: object

In [15]:
type(datos.nombres)

pandas.core.series.Series

##Indexación similar a listas

In [16]:
datos["nombres"]

0     Gidardo
1    Leopoldo
Name: nombres, dtype: object

##Indexación por .loc()

In [22]:
datos.loc[1,"edades"] #filas(INDEX),columnas

54

##Indexación por iloc()

In [24]:
datos.iloc[1,1] #CONVERTIR internamente filas y col a enteros 
#desde cero, para enumararlas

54

#Crear pandas.series

In [25]:
estrato=pandas.Series([3,4],name="estrato")

In [28]:
datos["estrat"]=["estrato","hh"]

In [29]:
datos

    nombres  edades  estrato   estrat
0   Gidardo      65        3  estrato
1  Leopoldo      54        4       hh

#Cargar una base de datos

In [34]:

datos_cal=pandas.read_csv("sample_data/california_housing_train.csv")
datos_cal.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [33]:
datos_cal.shape

(17000, 9)

In [35]:
datos_cal.longitude

0       -114.31
1       -114.47
2       -114.56
3       -114.57
4       -114.57
          ...
16995   -124.26
16996   -124.27
16997   -124.30
16998   -124.30
16999   -124.35
Name: longitude, Length: 17000, dtype: float64

##Slicing con .loc, sí toma el último valor

In [36]:
datos_cal.loc[0:3]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0

In [39]:
datos_cal.loc[0:3,["longitude","latitude"]]

   longitude  latitude
0    -114.31     34.19
1    -114.47     34.40
2    -114.56     33.69
3    -114.57     33.64

In [37]:
datos_cal.loc[0:3,"latitude"]

0    34.19
1    34.40
2    33.69
3    33.64
Name: latitude, dtype: float64

Con la columna en corchetes cuadrados, se retorna un dataset

In [40]:
datos_cal.loc[0:3,["latitude"]]

   latitude
0     34.19
1     34.40
2     33.69
3     33.64

In [38]:
datos_cal.loc[0:3].latitude

0    34.19
1    34.40
2    33.69
3    33.64
Name: latitude, dtype: float64

##Slicing con iloc: No llega al último

In [41]:
datos_cal.iloc[0:4,[1,2]]

   latitude  housing_median_age
0     34.19                15.0
1     34.40                19.0
2     33.69                17.0
3     33.64                14.0

#Traer de un dataframe un valor puntual

opción 1:

In [45]:
datos_cal.loc[0].population

1015.0

opción 2:

In [46]:
datos_cal.loc[0]["population"]

1015.0

opción 3:

In [47]:
datos_cal.loc[0,"population"]

1015.0

opción 4:

In [49]:
type(datos_cal.loc[0,["population"]])

pandas.core.series.Series

#Indexación booleana: Filtros, máscaras

In [56]:
sum(filtro)

0        False
1        False
2        False
3        False
4        False
         ...
16995    False
16996    False
16997    False
16998    False
16999    False
Name: median_income, Length: 17000, dtype: bool

In [54]:
filtro=datos_cal.median_income > 5
sum(filtro) #Calculo de cúantoc cumplen la condición del filtro

3752

In [57]:
datos_cal.shape

(17000, 9)

In [59]:
datos_cal[filtro].head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
32,-115.39,32.76,16.0,1136.0,196.0,481.0,185.0,6.2558,146300.0
69,-115.55,32.98,33.0,2266.0,365.0,952.0,360.0,5.4349,143000.0
92,-115.57,32.78,20.0,1534.0,235.0,871.0,222.0,6.2715,97200.0
98,-115.58,32.78,5.0,2494.0,414.0,1416.0,421.0,5.7843,110100.0
100,-115.59,32.79,8.0,2183.0,307.0,1000.0,287.0,6.3814,159900.0

#Indexación booleana, con varias condiciones

In [61]:
filtro1= (datos_cal.median_income>2)&(datos_cal.households<300)
datos_cal[filtro1].head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
5,-114.58,33.63,29.0,1387.0,236.0,671.0,239.0,3.3438,74000.0
9,-114.60,34.83,46.0,1497.0,309.0,787.0,271.0,2.1908,48100.0
12,-114.61,34.84,48.0,1291.0,248.0,580.0,211.0,2.1571,48600.0
16,-114.65,33.60,28.0,1678.0,322.0,666.0,256.0,2.9653,94900.0

In [62]:
datos_cal[filtro1].shape

(4118, 9)

#Crear columnas a partir de otras

In [63]:
totales=datos_cal.total_bedrooms+datos_cal.total_rooms
datos_cal["totales"]=totales
datos_cal.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,totales
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0,6895.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0,9551.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0,894.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0,1838.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0,1780.0

#Creación de columnas booleanas

In [65]:
datos_cal["baja_poblacion"]=datos_cal.population<500
datos_cal.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,totales,baja_poblacion
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0,6895.0,False
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0,9551.0,False
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0,894.0,True
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0,1838.0,False
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0,1780.0,False

#Ejemplo de cata de vinos

In [70]:
vinos= pandas.read_csv("winemag-data_first150k.csv")
vinos.head(3)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley

In [ ]:
vinos.index=vinos["Unnamed: 0"]
vinos.drop("Unnamed: 0",axis=1, inplace=True)

In [74]:
vinos.head(3)

,country,description,designation,points,price,province,region_1,region_2,variety,winery
Unnamed: 0,,,,,,,,,,
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley

#Describe()

In [75]:
vinos.describe()

              points          price
count  150930.000000  137235.000000
mean       87.888418      33.131482
std         3.222392      36.322536
min        80.000000       4.000000
25%        86.000000      16.000000
50%        88.000000      24.000000
75%        90.000000      40.000000
max       100.000000    2300.000000

#cálculos por python o por método

In [77]:
%%time
vinos.points.min()

CPU times: user 1.18 ms, sys: 13 µs, total: 1.19 ms
Wall time: 4.1 ms

80

In [78]:
%%time
min(vinos.points)

CPU times: user 26.3 ms, sys: 0 ns, total: 26.3 ms
Wall time: 31.2 ms

80

##¿Cuál es la provincia con el vino más costoso?

In [79]:
vinos.price.max()

2300.0

In [93]:
filtro=vinos.price==vinos.price.max()
vinos[filtro].province.values[0]

'Bordeaux'

##¿Cuántos vinos son de francia?

In [95]:
filtro1=vinos.country=="France"
sum(filtro1)

21098

##¿Cuál es el país con más vinos?

In [98]:
vinos.country.mode()[0]

'US'

In [104]:
vinos.country.value_counts().sort_values(ascending=False).index[0]

'US'

A pedal:

In [ ]:
conteo={}
for pais in vinos.country:
  if pais in conteo:
    conteo[pais]=conteo[pais]+1
  else:
    conteo[pais]=1
conteo

continuará...

##Mostrar los porcentajes de vinos por paises

In [106]:
vinos.country.value_counts().sort_values(ascending=False)

US                        62397
Italy                     23478
France                    21098
Spain                      8268
Chile                      5816
Argentina                  5631
Portugal                   5322
Australia                  4957
New Zealand                3320
Austria                    3057
Germany                    2452
South Africa               2258
Greece                      884
Israel                      630
Hungary                     231
Canada                      196
Romania                     139
Slovenia                     94
Uruguay                      92
Croatia                      89
Bulgaria                     77
Moldova                      71
Mexico                       63
Turkey                       52
Georgia                      43
Lebanon                      37
Cyprus                       31
Brazil                       25
Macedonia                    16
Serbia                       14
Morocco                      12
England                       9
Luxembourg                    9
Lithuania                     8
India                         8
Czech Republic                6
Ukraine                       5
Switzerland                   4
South Korea                   4
Bosnia and Herzegovina        4
China                         3
Egypt                         3
Slovakia                      3
Tunisia                       2
Albania                       2
Montenegro                    2
Japan                         2
US-France                     1
Name: country, dtype: int64

In [107]:
total_filas=len(vinos.country)
total_filas

150930

In [109]:
conteo_paises=vinos.country.value_counts().sort_values(ascending=False)
porcentajes=conteo_paises*100/total_filas

In [ ]:
porcentajes

##¿Cómo crear un dataset con la información de conteos y porcentajes?

In [113]:
data_set_nuevo=pandas.DataFrame(porcentajes)
data_set_nuevo["conteos"]=conteo_paises

In [115]:
data_set_nuevo.head(5)

          country  conteos
US      41.341682    62397
Italy   15.555556    23478
France  13.978666    21098
Spain    5.478036     8268
Chile    3.853442     5816

In [116]:
ds_2=pandas.concat([porcentajes,conteo_paises],axis=1)

In [117]:
ds_2.head()

          country  country
US      41.341682    62397
Italy   15.555556    23478
France  13.978666    21098
Spain    5.478036     8268
Chile    3.853442     5816

#Ejemplo NETFLIX

In [120]:
netflix=pandas.read_csv("netflix_titles.csv")

In [ ]:
netflix.head()

##¿Cuál es la película con mayor y menor duración?

In [135]:
filtro_movie=netflix.type=="Movie"
funcion=lambda x: int(x.replace(" min",""))
maxi=netflix[filtro_movie].duration.apply(   funcion  ).max()
mini=netflix[filtro_movie].duration.apply(   funcion  ).min()

In [136]:
maxi,mini

(312, 3)

In [142]:
filtroM=netflix[filtro_movie].duration.apply(   funcion  ) ==maxi
filtrom=netflix[filtro_movie].duration.apply(   funcion  ) ==mini

In [144]:
sum(filtrom)

1

In [150]:
netflix[filtro_movie][filtroM].title.values[0]

'Black Mirror: Bandersnatch'

In [151]:
netflix[filtro_movie][filtrom].title.values[0]

'Silent'

#Ejercicios

![image.png]()