<a href="https://colab.research.google.com/github/mamenaca/curso_python_esp_estadistica/blob/main/unidad5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#PANDAS: Librería fundamental para el trabajo con bases de datos

In [2]:
import pandas

In [3]:
pandas.__version__

'1.3.5'

In [4]:
!pip install pandas==1.4.3

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
ERROR: Could not find a version that satisfies the requirement pandas==1.4.3 (from versions: 0.1, 0.2, 0.3.0, 0.4.0, 0.4.1, 0.4.2, 0.4.3, 0.5.0, 0.6.0, 0.6.1, 0.7.0, 0.7.1, 0.7.2, 0.7.3, 0.8.0, 0.8.1, 0.9.0, 0.9.1, 0.10.0, 0.10.1, 0.11.0, 0.12.0, 0.13.0, 0.13.1, 0.14.0, 0.14.1, 0.15.0, 0.15.1, 0.15.2, 0.16.0, 0.16.1, 0.16.2, 0.17.0, 0.17.1, 0.18.0, 0.18.1, 0.19.0, 0.19.1, 0.19.2, 0.20.0, 0.20.1, 0.20.2, 0.20.3, 0.21.0, 0.21.1, 0.22.0, 0.23.0, 0.23.1, 0.23.2, 0.23.3, 0.23.4, 0.24.0, 0.24.1, 0.24.2, 0.25.0, 0.25.1, 0.25.2, 0.25.3, 1.0.0, 1.0.1, 1.0.2, 1.0.3, 1.0.4, 1.0.5, 1.1.0, 1.1.1, 1.1.2, 1.1.3, 1.1.4, 1.1.5, 1.2.0, 1.2.1, 1.2.2, 1.2.3, 1.2.4, 1.2.5, 1.3.0, 1.3.1, 1.3.2, 1.3.3, 1.3.4, 1.3.5)
ERROR: No matching distribution found for pandas==1.4.3

#Tabla en pandas: dataset (en R dataframe)

In [5]:
A=["hola",4.3,5,True]

En las tablas de pandas, cada columna puede tener un diferente tipo de dato

#Crear un dataset vacío

In [6]:
datos=pandas.DataFrame()

In [7]:
type(datos)

pandas.core.frame.DataFrame

#Creación de dataset con ingreso manual de datos

In [8]:
datos=pandas.DataFrame({
    "nombres":["Gidardo", "Leopoldo"],
    "edades":[65,54]

})
datos

    nombres  edades
0   Gidardo      65
1  Leopoldo      54

#Indexación

In [9]:
type(datos)

pandas.core.frame.DataFrame

##propia de pandas

In [10]:
datos.nombres #Variable, columna

0     Gidardo
1    Leopoldo
Name: nombres, dtype: object

In [11]:
type(datos.nombres)

pandas.core.series.Series

##Indexación similar a listas

In [12]:
datos["nombres"]

0     Gidardo
1    Leopoldo
Name: nombres, dtype: object

##Indexación por .loc()

In [13]:
datos.loc[1,"edades"] #filas(INDEX),columnas

54

##Indexación por iloc()

In [14]:
datos.iloc[1,1] #CONVERTIR internamente filas y col a enteros 
#desde cero, para enumararlas

54

#Crear pandas.series

In [15]:
estrato=pandas.Series([3,4],name="estrato")

In [16]:
datos["estrat"]=["estrato","hh"]

In [17]:
datos

    nombres  edades   estrat
0   Gidardo      65  estrato
1  Leopoldo      54       hh

#Cargar una base de datos

In [18]:

datos_cal=pandas.read_csv("sample_data/california_housing_train.csv")
datos_cal.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [19]:
datos_cal.shape

(17000, 9)

In [20]:
datos_cal.longitude

0       -114.31
1       -114.47
2       -114.56
3       -114.57
4       -114.57
          ...
16995   -124.26
16996   -124.27
16997   -124.30
16998   -124.30
16999   -124.35
Name: longitude, Length: 17000, dtype: float64

##Slicing con .loc, sí toma el último valor

In [21]:
datos_cal.loc[0:3]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0

In [22]:
datos_cal.loc[0:3,["longitude","latitude"]]

   longitude  latitude
0    -114.31     34.19
1    -114.47     34.40
2    -114.56     33.69
3    -114.57     33.64

In [23]:
datos_cal.loc[0:3,"latitude"]

0    34.19
1    34.40
2    33.69
3    33.64
Name: latitude, dtype: float64

Con la columna en corchetes cuadrados, se retorna un dataset

In [24]:
datos_cal.loc[0:3,["latitude"]]

   latitude
0     34.19
1     34.40
2     33.69
3     33.64

In [25]:
datos_cal.loc[0:3].latitude

0    34.19
1    34.40
2    33.69
3    33.64
Name: latitude, dtype: float64

##Slicing con iloc: No llega al último

In [26]:
datos_cal.iloc[0:4,[1,2]]

   latitude  housing_median_age
0     34.19                15.0
1     34.40                19.0
2     33.69                17.0
3     33.64                14.0

#Traer de un dataframe un valor puntual

opción 1:

In [27]:
datos_cal.loc[0].population

1015.0

opción 2:

In [28]:
datos_cal.loc[0]["population"]

1015.0

opción 3:

In [29]:
datos_cal.loc[0,"population"]

1015.0

opción 4:

In [30]:
type(datos_cal.loc[0,["population"]])

pandas.core.series.Series

#Indexación booleana: Filtros, máscaras

In [31]:
sum(filtro)

NameError: ignored

In [ ]:
filtro=datos_cal.median_income > 5
sum(filtro) #Calculo de cúantoc cumplen la condición del filtro

In [ ]:
datos_cal.shape

In [ ]:
datos_cal[filtro].head()

#Indexación booleana, con varias condiciones

In [ ]:
filtro1= (datos_cal.median_income>2)&(datos_cal.households<300)
datos_cal[filtro1].head()

In [ ]:
datos_cal[filtro1].shape

#Crear columnas a partir de otras

In [ ]:
totales=datos_cal.total_bedrooms+datos_cal.total_rooms
datos_cal["totales"]=totales
datos_cal.head()

#Creación de columnas booleanas

In [ ]:
datos_cal["baja_poblacion"]=datos_cal.population<500
datos_cal.head()

#Ejemplo de cata de vinos

In [ ]:
vinos= pandas.read_csv("winemag-data_first150k.csv")
vinos.head(3)

In [ ]:
vinos.index=vinos["Unnamed: 0"]
vinos.drop("Unnamed: 0",axis=1, inplace=True)

In [ ]:
vinos.head(3)

#Describe()

In [ ]:
vinos.describe()

#cálculos por python o por método

In [ ]:
%%time
vinos.points.min()

In [ ]:
%%time
min(vinos.points)

##¿Cuál es la provincia con el vino más costoso?

In [ ]:
vinos.price.max()

In [ ]:
filtro=vinos.price==vinos.price.max()
vinos[filtro].province.values[0]

##¿Cuántos vinos son de francia?

In [ ]:
filtro1=vinos.country=="France"
sum(filtro1)

##¿Cuál es el país con más vinos?

In [ ]:
vinos.country.mode()[0]

In [ ]:
vinos.country.value_counts().sort_values(ascending=False).index[0]

A pedal:

In [ ]:
conteo={}
for pais in vinos.country:
  if pais in conteo:
    conteo[pais]=conteo[pais]+1
  else:
    conteo[pais]=1
conteo

continuará...

##Mostrar los porcentajes de vinos por paises

In [ ]:
vinos.country.value_counts().sort_values(ascending=False)

In [ ]:
total_filas=len(vinos.country)
total_filas

In [ ]:
conteo_paises=vinos.country.value_counts().sort_values(ascending=False)
porcentajes=conteo_paises*100/total_filas

In [ ]:
porcentajes

##¿Cómo crear un dataset con la información de conteos y porcentajes?

In [ ]:
data_set_nuevo=pandas.DataFrame(porcentajes)
data_set_nuevo["conteos"]=conteo_paises

In [ ]:
data_set_nuevo.head(5)

In [ ]:
ds_2=pandas.concat([porcentajes,conteo_paises],axis=1)

In [32]:
ds_2.head()

NameError: ignored

#Ejemplo NETFLIX

In [34]:
netflix=pandas.read_csv("netflix_titles.csv")

In [35]:
netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

##¿Cuál es la película con mayor y menor duración?

In [36]:
filtro_movie=netflix.type=="Movie"
funcion=lambda x: int(x.replace(" min",""))
maxi=netflix[filtro_movie].duration.apply(   funcion  ).max()
mini=netflix[filtro_movie].duration.apply(   funcion  ).min()

In [37]:
maxi,mini

(312, 3)

In [38]:
filtroM=netflix[filtro_movie].duration.apply(   funcion  ) ==maxi
filtrom=netflix[filtro_movie].duration.apply(   funcion  ) ==mini

In [39]:
sum(filtrom)

1

In [40]:
netflix[filtro_movie][filtroM].title.values[0]

'Black Mirror: Bandersnatch'

In [41]:
netflix[filtro_movie][filtrom].title.values[0]

'Silent'

#Ejercicios

![image.png]()

¿Cuál es el país con mayor número de películas?

In [42]:
filtro_movie=netflix.type=="Movie"
filtro_movie

0       False
1        True
2        True
3        True
4        True
        ...
7782     True
7783     True
7784     True
7785    False
7786     True
Name: type, Length: 7787, dtype: bool

In [44]:
netflix[filtro_movie]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
6,s7,Movie,122,Yasir Al Yasiri,"Amina Khalil, Ahmed Dawood, Tarek Lotfy, Ahmed...",Egypt,"June 1, 2020",2019,TV-MA,95 min,"Horror Movies, International Movies","After an awful accident, a couple admitted to ..."
...,...,...,...,...,...,...,...,...,...,...,...,...
7781,s7782,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

In [49]:
netflix[filtro_movie].country.value_counts().sort_values(ascending =False).index[0]

'United States'

In [43]:
filtro_movie=netflix.type=="Movie"
netflix[filtro_movie].country.value_counts().sort_values(ascending =False).index[0]

'United States'

¿Cuál es el tv show con más temporadas?

In [51]:
netflix.head(2)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...

Tomando solamente uno de los TV show con mayor número de temporaads

In [52]:
tv_show=netflix.type=="TV Show"

In [60]:
ind=netflix[tv_show].duration.sort_values(ascending=False).index[0]

In [61]:
netflix.loc[ind,"title"]

'Naruto'

In [63]:
netflix.iloc[ind,2]

'Naruto'

Tomando todos los TV show con mayor número de temporadas

In [70]:
A=netflix[tv_show].duration.sort_values(ascending=False)
A

4404    9 Seasons
2237    9 Seasons
468     9 Seasons
5818    9 Seasons
1181    9 Seasons
          ...
4225     1 Season
4220     1 Season
4219     1 Season
1519     1 Season
7785     1 Season
Name: duration, Length: 2410, dtype: object

In [75]:
tempo_max=A==A.max()

In [79]:
indices=A[tempo_max].index
indices

Int64Index([4404, 2237, 468, 5818, 1181, 1431, 6983, 6718], dtype='int64')

In [82]:
netflix.loc[indices].title

4404                      Naruto
2237              Forensic Files
468        American Horror Story
5818                  Still Game
1181            Call the Midwife
1431    Club Friday The Series 6
6983            The Walking Dead
6718           The Office (U.S.)
Name: title, dtype: object

In [84]:
import random

In [85]:
gente=["Juan Sebastian Londoño Castañeda","Maria Camila Vargas Soto",
       "John Narvaez Galviz","Sofia Vergara Aguirre","Jenny Paola Buitrago A",
       "Valentina Londoño","Laura Camila Katz"]

In [86]:
random.shuffle(gente)

In [88]:
gente=iter(gente)

In [89]:
next(gente)

'John Narvaez Galviz'

¿Cuántas películas se lanzaron en el año=x?

In [91]:
peliculas=netflix.type=="Movie"
x=1997
anio=netflix.release_year==x
peliculas_x=netflix[peliculas & anio]
peliculas_x

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
7,s8,Movie,187,Kevin Reynolds,"Samuel L. Jackson, John Heard, Kelly Rowan, Cl...",United States,"November 1, 2019",1997,R,119 min,Dramas,After one of his high school students attacks ...
592,s593,Movie,As Good as It Gets,James L. Brooks,"Jack Nicholson, Helen Hunt, Greg Kinnear, Cuba...",United States,"January 1, 2020",1997,PG-13,139 min,"Comedies, Romantic Movies","The structured world of a sour, obsessive-comp..."
626,s627,Movie,Austin Powers: International Man of Mystery,Jay Roach,"Mike Myers, Elizabeth Hurley, Michael York, Mi...",United States,"December 1, 2019",1997,PG-13,90 min,Comedies,A swingin' fashion photographer by day and a g...
781,s782,Movie,Bean: The Ultimate Disaster Movie,Mel Smith,"Rowan Atkinson, Peter MacNicol, John Mills, Pa...","United Kingdom, United States","August 1, 2018",1997,PG-13,89 min,"Comedies, International Movies",Disaster-prone Mr. Bean is sent to Los Angeles...
1288,s1289,Movie,Chasing Amy,Kevin Smith,"Ben Affleck, Joey Lauren Adams, Jason Lee, Dwi...",United States,"January 1, 2020",1997,R,113 min,"Comedies, Cult Movies, Dramas",Comic book artist Holden meets the perfect wom...
1604,s1605,Movie,Dante's Peak,Roger Donaldson,"Pierce Brosnan, Linda Hamilton, Elizabeth Hoff...",United States,"September 1, 2019",1997,PG-13,108 min,Action & Adventure,When a volcanologist comes to investigate the ...
1719,s1720,Movie,Destiny,Youssef Chahine,"Nour El-Sherif, Laila Elwi, Mahmoud Hemeida, S...","France, Egypt","June 19, 2020",1997,TV-14,136 min,"Dramas, International Movies","In 12th-century Spain, a philosopher and his p..."
1823,s1824,Movie,Donnie Brasco,Mike Newell,"Al Pacino, Johnny Depp, Michael Madsen, Bruno ...",United States,"January 1, 2020",1997,R,127 min,"Dramas, Thrillers",When FBI agent Joe Pistone goes undercover to ...
2043,s2044,Movie,Event Horizon,Paul W.S. Anderson,"Laurence Fishburne, Sam Neill, Kathleen Quinla...","United Kingdom, United States","January 1, 2020",1997,R,96 min,"Horror Movies, Sci-Fi & Fantasy",After a signal is received from a long-missing...
2407,s2408,Movie,Ghulam-E-Musthafa,Partho Ghosh,"Nana Patekar, Raveena Tandon, Paresh Rawal, Ar...",India,"December 31, 2019",1997,TV-MA,161 min,"Action & Adventure, Dramas, International Movies","Giving up his life of crime for love, a gangst..."
2476,s2477,Movie,Good Burger,Brian Robbins,"Kenan Thompson, Kel Mitchell, Abe Vigoda, Dan ...",United States,"January 1, 2021",1997,PG,96 min,"Children & Family Movies, Comedies","Working at a neighborhood fast-food joint, two..."
2707,s2708,Movie,Hero,Corey Yuen,"Takeshi Kaneshiro, Yuen Biao, Valerie Chow, Je...","Hong Kong, China","August 1, 2018",1997,TV-MA,89 min,"Action & Adventure, International Movies",A pugilist from Shantung struggles to rise to ...
2841,s2842,Movie,How to Be a Player,Lionel C. Martin,"Bill Bellamy, Natalie Desselle, Lark Voorhies,...",United States,"November 1, 2019",1997,R,94 min,Comedies,Dray lives life one woman at a time and is the...
3103,s3104,Movie,Jackie Brown,Quentin Tarantino,"Pam Grier, Samuel L. Jackson, Robert Forster, ...",United States,"August 1, 2019",1997,R,154 min,"Dramas, Thrillers",When an aging flight attendant's caught smuggl...
3233,s3234,Movie,Judwaa,David Dhawan,"Salman Khan, Karisma Kapoor, Rambha, Kader Kha...",India,"December 31, 2019",1997,TV-14,133 min,"Comedies, International Movies, Romantic Movies","Separated at birth, a pair of identical twins ..."
3413,s3414,Movie,Kiss the Girls,Gary Fleder,"Morgan Freeman, Ashley Judd, Cary Elwes, Alex ...",United States,"January 1, 2020",1997,R,116 min,Thrillers,A forensic psychologist teams up with an escap...
3635,s3636,Movie,Lifeline,Johnnie To,"Lau Ching Wan, Alex Fong, Carman Lee, Ruby Won...",Hong Kong,"August 16, 2018",1997,TV-14,104 min,"Action & Adventure, International Movies",Johnnie To's character-centered drama follows ...
3763,s3764,Movie,Love Jones,Theodore Witcher,"Larenz Tate, Nia Long, Isaiah Washington, Lisa...",United States,"November 1, 2019",1997,R,109 min,"Comedies, Dramas, Independent Movies","In this urban romantic comedy set in Chicago, ..."
4031,s4032,Movie,Men in Black,Barry Sonnenfeld,"Tommy Lee Jones, Will Smith, Linda Fiorentino,...",United States,"October 19, 2019",1997,PG-13,98 min,"Action & Adventure, Comedies, Sci-Fi & Fantasy",A streetwise cop teams with a veteran governme...
4177,s4178,Movie,Money Talks,Brett Ratner,"Charlie Sheen, Chris Tucker, Heather Locklear,...",United States,"November 1, 2019",1997,R,96 min,"Action & Adventure, Comedies",TV news reporter James Russell helps put small...
4773,s4774,Movie,Pardes,Subhash Ghai,"Shah Rukh Khan, Amrish Puri, Mahima Chaudhry, ...",India,"March 1, 2018",1997,TV-14,187 min,"Dramas, International Movies, Romantic Movies","Prompted by loyalty, Arjun plays matchmaker be..."
5442,s5443,Movie,Scream 2,Wes Craven,"Neve Campbell, David Arquette, Courteney Cox, ...",United States,"October 1, 2019",1997,R,121 min,Horror Movies,Gale has written a best-seller which has been ...
6329,s6330,Movie,The End of Evangelion,"Hideaki Anno, Kazuya Tsurumaki","Megumi Ogata, Kotono Mitsuishi, Megumi Hayashi...",Japan,"June 21, 2019",1997,TV-MA,87 min,"Action & Adventure, Anime Features, Internatio...","Seele orders an all-out attack on NERV, aiming..."
6744,s6745,Movie,The Peacemaker,Mimi Leder,"George Clooney, Nicole Kidman, Marcel Iures, A...",United States,"January 1, 2020",1997,R,124 min,Action & Adventure,After terrorists trigger a nuclear blast in Ru...
6800,s6801,Movie,The Rainmaker,Francis Ford Coppola,"Matt Damon, Danny DeVito, Claire Danes, Jon Vo...","United States, Germany","November 20, 2019",1997,PG-13,136 min,"Dramas, Thrillers",A young attorney and a scrappy paralegal work ...
7142,s7143,Movie,Tomorrow Never Dies,Roger Spottiswoode,"Pierce Brosnan, Jonathan Pryce, Michelle Yeoh,...","United Kingdom, United States","December 31, 2019",1997,PG-13,119 min,Action & Adventure,"Pierce Brosnan stars in this 007 installment, ..."

¿Cuántas películas empiezan por la letra A?

In [92]:
next(gente)

'Maria Camila Vargas Soto'

In [98]:
d="dfgh  tyy,   tyty, sdy yt"

In [99]:
d.replace(" ","")

'dfghtyy,tyty,sdyyt'

¿Cuál es el TV show con el título más largo?

In [97]:
next(gente)

'Laura Camila Katz'

Encuentre las 10 películas más viejas cuyo director empiece por J

In [100]:
next(gente)

'Valentina Londoño'

In [101]:
viejas= netflix.release_year.sort_values()
peliculas =viejas.iloc[0:10]
netflix.loc[peliculas.index, 'title']

4867                   Pioneers: First Women Filmmakers*
6117                                The Battle of Midway
4960                                      Prelude to War
7679                     WWII: Report from the Aleutians
7342       Undercover: How to Operate Behind Enemy Lines
7616                  Why We Fight: The Battle of Russia
7268                                    Tunisian Victory
6699                                   The Negro Soldier
6657    The Memphis Belle: A Story of a\nFlying Fortress
5371                                          San Pietro
Name: title, dtype: object

In [132]:
peliculas

4867    1925
6117    1942
4960    1942
7679    1943
7342    1943
7616    1943
7268    1944
6699    1944
6657    1944
5371    1945
Name: release_year, dtype: int64

In [125]:
netflix.loc[peliculas.index, ['title',"director"]]

,title,director
4867,Pioneers: First Women Filmmakers*,NaN
6117,The Battle of Midway,John Ford
4960,Prelude to War,Frank Capra
7679,WWII: Report from the Aleutians,John Huston
7342,Undercover: How to Operate Behind Enemy Lines,John Ford
7616,Why We Fight: The Battle of Russia,"Frank Capra, Anatole Litvak"
7268,Tunisian Victory,"Frank Capra, John Huston, Hugh Stewart, Roy Bo..."
6699,The Negro Soldier,Stuart Heisler
6657,The Memphis Belle: A Story of a\nFlying Fortress,William Wyler
5371,San Pietro,John Huston

In [135]:
funcion= lambda x: str(x)[0]=='j' or str(x)[0]=='J'
filtro_g= netflix.director.apply(funcion)
filtro_g

0       False
1        True
2       False
3       False
4       False
        ...
7782     True
7783    False
7784    False
7785    False
7786    False
Name: director, Length: 7787, dtype: bool

In [136]:
filtro_pelis=peliculas.apply(lambda x:bool(x))

In [137]:
netflix[filtro_pelis & filtro_g][["title","release_year","director"]]

                                              title  release_year     director
5371                                     San Pietro          1945  John Huston
6117                           The Battle of Midway          1942    John Ford
7342  Undercover: How to Operate Behind Enemy Lines          1943    John Ford
7679                WWII: Report from the Aleutians          1943  John Huston

In [130]:
sum(filtro_g & filtro_pelis)

4

Encuentre las 10 películas más viejas cuyo director empiece por J

In [141]:
filtro1=netflix.type=="Movie"
empiezaporG= lambda x: str(x).upper().startswith("G")
filtro2=netflix.director.apply(empiezaporG)
netflix[filtro1 & filtro2].sort_values(by="release_year").title.iloc[0:10]

4436              Nazi Concentration Camps
5907                              Superfly
3442                               Koshish
3837                               Mad Max
1575                                   Dad
6556            The Last Days of Chez Nous
1409                          Class of '61
4422    National Lampoon's Loaded Weapon 1
4969                           Primal Fear
3413                        Kiss the Girls
Name: title, dtype: object

#Ejemplo Titanic

In [145]:
titanic=pandas.read_csv("titanic.csv")
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

¿De los que sobrevivieron, quién pagó menos por el tiquete?

In [153]:
filtro1=titanic.Survived==1
filtro1=titanic.Survived.apply(lambda x:bool(x))
titanic[filtro1]
titanic[filtro1].sort_values(by="Fare").Name.iloc[0]

'Tornquist, Mr. William Henry'

In [147]:
list(gente)

[]

#Ejercicios pandas

1.   De los que no sobrevivieron, quién pagó más por el tiquete? ¿cuánto pagó?
2.   Cuál fue la proporción de mujeres de primera clase que sobrevivieron?